.contenu5-container {
    background-color: #1A1A1A;
    padding: 3rem 0;
    text-align: center;
}

.contenu5-title {
    color: #ffc107;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.contenu5-card {
    background-color: black; /* Couleur de fond des cartes */
    border-radius: 10px;
    border-color: #D6BF6F;
    padding: 20px;
    color: #D6BF6F;
    max-height: 300px; /* Augmente la hauteur de la carte */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contenu5-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contenu5-card-text {
    font-size: 1.1rem;
    color: white;
    flex-grow: 1;
}




