/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.App > * {
  margin-bottom: 20px; /* Pour espacer les composants */
}
